<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- mybatis log 남기는 api를 사용하겠다 -> boot에서는 인식X. 오류남.-->
<!-- 	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings> -->
	
	<!-- spring.mybatis.MemberDTO 를 memberdto라고 하겠다. -->
	<typeAliases>
		<typeAlias type="board.spring.mybatis.MemberDTO" alias="memberdto"/> 
		<typeAlias type="board.spring.mybatis.BoardDTO" alias="boarddto"/> 
	</typeAliases>
		
</configuration>